<%- include('partials/header') %>

    <%- include('partials/nav') %>
        <div class="container">
            <h1 class="title">Profile</h1>
            <p class="description">Welcome to your profile page, <strong><%= brukernavn %></strong>!</p>
            <a href="/signout">Sign Out</a>
        </div>