<%- include('partials/header') %>

    <form action="/signin" method="post" class="signin-form">
        <h1>Login</h1>
        <div class="form-group">
            <label for="brukernavn">Brukernavn:</label>
            <input type="text" id="brukernavn" name="brukernavn" class="form-control" placeholder="Skriv inn brukernavn"
                required>
        </div>
        <div class="form-group">
            <label for="passord">Passord:</label>
            <input type="password" id="passord" name="passord" class="form-control" placeholder="Skriv inn passord"
                required>
        </div>
        <!-- Display error message -->
        <% if (error) { %>
            <p style="color:red; margin-top:10px;">
                <%= error %>
            </p>
            <% } %>

                <button type="submit" class="btn btn-primary">Sign In</button>
                <a href="/signup" class="btn btn-link">sign up?</a>
    </form>

    <%- include('partials/footer') %>